# Python Tutorial: Reading Guatemala Census Data
This tutorial will walk you through the process of reading data provided in the 
SPSS format (.sav), a common data format for government data. When possible,
it is best to access data as comma-separated values (.csv), however not all 
data sources are provided in this format.

## Reading SPSS data on USAID-furnished equipment
Your USAID-issued laptop does not have access to SPSS, a paid statistical
software package. Luckily, it's easy enough to access the data using Python.

## Using Python on USAID-furnished equipment
You also are not authorized to install Python, a popular open-source
scripting language, on your USAID-furnished computer. [Google Colab](https://colab.research.google.com/)
is a great option for running Python on the cloud. 

Let's begin!

## Install necessary packages
The first thing we'll do is install the libraries we need. Libraries extend 
Python to make our work easier. There are many libraries available. You will
often discover which libraries you need by searching the internet for 
solutions to your problem.

Let's install `pyreadstat`, a special package for reading SPSS files.

In [ ]:
!pip install pyreadstat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyreadstat in /usr/local/lib/python3.7/dist-packages (1.1.9)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pyreadstat) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.15.0)

## Import packages
Next we'll import `pyreadstat` and another package, `pandas` to help us read 
the data. You'll notice that we don't need to install `pandas`. That is 
because it is already installed by Google Colab. You'll use `pandas` a lot
when working with data. Also note that we rename the library to `pd` when we
import it to save us typing the full name each time we use it.

In [ ]:
import pyreadstat
import pandas as pd

## Upload data to Google Colab
Colab does not have access to your file system. Instead, you need to upload data
to Colab before you can access it. After downloading the data in the SPSS 
format (it should have the `.sav` file extension), use the file uploader
to upload it here.

In the left sidebar, click the folder icon. Next, click the file upload icon
(it looks like a file with an up arrow). Navigate to the file on your local 
directory and click **Open**. 

If you have multiple files, you can upload them now.

## Read in the data
Now we're ready to read in the data. Review the documentation of `pyreadstat` to find the right method and how to use it when reading SPSS data. 

You can find the documentation for `pyreadstat`'s `read_sav` method [here](https://ofajardo.github.io/pyreadstat_documentation/_build/html/index.html#pyreadstat.pyreadstat.read_sav). 

Note that it includes many optional parameters and returns two objects, 
a `pandas DataFrame` and a metadata object.

In [ ]:
viviendas_df, viviendas_meta = pyreadstat.read_sav("01_VIVIENDAS_2002.sav")

Let's peek at the data to see what we got.

In [ ]:
viviendas_df.head()

,DEPARTAMENTO,MUNICIPIO,URBRUR,NUMVIV,AREA,V01,V02,V03,V04,V05,IH01,IH02,IH03
0,1.0,101.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,NaN,NaN,NaN,NaN
1,1.0,111.0,2.0,2.0,1.0,1.0,1.0,1.0,5.0,NaN,NaN,NaN,NaN
2,1.0,113.0,1.0,3.0,1.0,1.0,2.0,1.0,5.0,NaN,NaN,NaN,NaN
3,1.0,101.0,1.0,4.0,1.0,1.0,2.0,1.0,5.0,NaN,NaN,NaN,NaN
4,1.0,101.0,1.0,5.0,1.0,1.0,2.0,1.0,5.0,NaN,NaN,NaN,NaN

In [ ]:
viviendas_meta

We can see a nice data table (also called a `pandas DataFrame`) is storred in 
the `viviendas_df` table. The `head` method returns only the top 5 rows.

However, the headers and the data appear to be encoded. These encodings are
probably stored in the metadata file. However, when we look at that variable
we get a metadata container object that isn't very helpful.

Let's check out the [documentation](https://ofajardo.github.io/pyreadstat_documentation/_build/html/index.html#metadata-object-description) to see how to use the metadata.

Here we see how to access notes, column headers, and variable codes. Let's 
check it out.

In [ ]:
viviendas_meta.notes

[]

In [ ]:
viviendas_meta.column_names_to_labels

{'DEPARTAMENTO': 'Departamento',
 'MUNICIPIO': 'Municipio',
 'URBRUR': 'URBRUR',
 'NUMVIV': 'NUMVIV',
 'AREA': 'AREA',
 'V01': 'Tipo del local de habitación',
 'V02': 'Material predominante en las paredes exteriores',
 'V03': 'Material predominante en el techo',
 'V04': 'Local de habitación  esta:',
 'V05': 'Material predominante en el piso',
 'IH01': 'Cuántas personas viven en el local de habitación',
 'IH02': 'Estan personas preparan por separado los alimentos',
 'IH03': 'Cuántos grupos de personas preparan sus alimentos por separado'}

In [ ]:
viviendas_meta.variable_value_labels['URBRUR']

{0.0: 'CERO', 1.0: 'URBANO', 2.0: 'RURAL'}

We see that this dataset came without notes, but does have more descriptive 
labels for both the column names and descriptions for each code. By providing
the column name `URBRUR` in brackets, we're specifying we want only the codes
for that specific column.

## Label column values
We'll want to replace the values in each column with the human-readable
labels as provided in the `variable_value_to_labels` dictionary. Luckily,
`pyreadstat` provides a built-in method to make this easy for us.

In [ ]:
viviendas_df = pyreadstat.set_value_labels(viviendas_df, viviendas_meta)
viviendas_df.head()

,DEPARTAMENTO,MUNICIPIO,URBRUR,NUMVIV,AREA,V01,V02,V03,V04,V05,IH01,IH02,IH03
0,Guatemala,Guatemala,URBANO,1.0,1.0,Casa Formal,Ladrillo,Concreto,5.0,NaN,NaN,NaN,NaN
1,Guatemala,San Raymundo,RURAL,2.0,1.0,Casa Formal,Ladrillo,Concreto,5.0,NaN,NaN,NaN,NaN
2,Guatemala,Fraijanes,URBANO,3.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN
3,Guatemala,Guatemala,URBANO,4.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN
4,Guatemala,Guatemala,URBANO,5.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN

### Add back columns for Department and Municipality codes
The first thing of note is that the 'Departmento' and 'Muncipio' columns were
replaced with the names of the departments and municipalities, respectively.
However we use these codes to join tabular data like this to spatial layers.

Let's add back the columns for department and municipality codes as 'Codigo'
and 'Codigo1', respectively.

In [ ]:
inv_dict_dept = {v: k for k, v in viviendas_meta.variable_value_labels['DEPARTAMENTO'].items()}
viviendas_df['Codigo'] = viviendas_df['DEPARTAMENTO'].map(inv_dict_dept)
viviendas_df.head()

,DEPARTAMENTO,MUNICIPIO,URBRUR,NUMVIV,AREA,V01,V02,V03,V04,V05,IH01,IH02,IH03,Codigo
0,Guatemala,Guatemala,URBANO,1.0,1.0,Casa Formal,Ladrillo,Concreto,5.0,NaN,NaN,NaN,NaN,1.0
1,Guatemala,San Raymundo,RURAL,2.0,1.0,Casa Formal,Ladrillo,Concreto,5.0,NaN,NaN,NaN,NaN,1.0
2,Guatemala,Fraijanes,URBANO,3.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN,1.0
3,Guatemala,Guatemala,URBANO,4.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN,1.0
4,Guatemala,Guatemala,URBANO,5.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN,1.0

In [ ]:
inv_dict_dept = {v: k for k, v in viviendas_meta.variable_value_labels['MUNICIPIO'].items()}
viviendas_df['Codigo1'] = viviendas_df['MUNICIPIO'].map(inv_dict_dept)
viviendas_df.head()

,DEPARTAMENTO,MUNICIPIO,URBRUR,NUMVIV,AREA,V01,V02,V03,V04,V05,IH01,IH02,IH03,Codigo,Codigo1
0,Guatemala,Guatemala,URBANO,1.0,1.0,Casa Formal,Ladrillo,Concreto,5.0,NaN,NaN,NaN,NaN,1.0,101.0
1,Guatemala,San Raymundo,RURAL,2.0,1.0,Casa Formal,Ladrillo,Concreto,5.0,NaN,NaN,NaN,NaN,1.0,111.0
2,Guatemala,Fraijanes,URBANO,3.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN,1.0,113.0
3,Guatemala,Guatemala,URBANO,4.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN,1.0,101.0
4,Guatemala,Guatemala,URBANO,5.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN,1.0,101.0

### Check remaining columns
We can see that some values were replaced with labels, but some where not. We 
got lucky to catch that in the top 5 rows. When working with data you always
need to be very thorough when doing this type of data cleaning.

First, let's see which columns should have been changed from numeric values
to human-readable data. We can check the `variable_value_labels` dictionary
to see which `keys` are present.

In [ ]:
viviendas_meta.variable_value_labels.keys()

dict_keys(['DEPARTAMENTO', 'MUNICIPIO', 'URBRUR', 'V01', 'V02', 'V03', 'V04', 'V05', 'IH01', 'IH02', 'IH03'])

Note that 'NUMVIV' and 'AREA' do not have a dictionary for replacing values.
Thus, it's not unusual that those remain numeric data. However, 'VO4' does
and so it shouldn't still be numeric. Let's check it out.

In [ ]:
viviendas_meta.variable_value_labels['V04']

{1.0: 'Con personas presentes',
 2.0: 'Con personas ausentes',
 3.0: 'De uso temporal'}

We can see that there are options for values 1, 2, and 3. However we can clearly
see 5.0 is also a value in this column.

What other values are present in this column?

In [ ]:
viviendas_df['V04'].unique()

[5.0, 'Con personas presentes', 6.0, 4.0, 'Con personas ausentes', 'De uso temporal', NaN]
Categories (6, object): [4.0, 5.0, 6.0, 'Con personas ausentes', 'Con personas presentes',
                         'De uso temporal']

Interesting, we seem to be missing data for the values 4, 5, and 6. However
the values of 1, 2, and 3 appear to be replaced as expected.

We can check the remaining columns with a for loop and an if statement. For
each column in the DataFrame, if the column is also a key in the 
`variable_value_labels` dictionary, print the unique values in the column. 
Let's skip the first 2 columns since those are quite long.

In [ ]:
for column in viviendas_df.columns[2:]:
  if column in viviendas_meta.variable_value_labels.keys():
    print(viviendas_df[column].unique())

['URBANO', 'RURAL']
Categories (2, object): ['RURAL', 'URBANO']
['Casa Formal', 'Apartamento', 'Otro', 'Casa Improvisada', 'Cuarto en casa de vecindad (palomar)', 'Rancho', 'Colectivo', 'Personas sin local de habitación']
Categories (8, object): ['Apartamento', 'Casa Formal', 'Casa Improvisada', 'Colectivo',
                         'Cuarto en casa de vecindad (palomar)', 'Otro', 'Personas sin local de habitación', 'Rancho']
['Ladrillo', 'Block', 'Adobe', 'Concreto', 'Otro', 'Madera', 'Lepa, palo o caña', 'Lámina metálica', 'Bajareque', NaN]
Categories (9, object): ['Adobe', 'Bajareque', 'Block', 'Concreto', ..., 'Lepa, palo o caña',
                         'Lámina metálica', 'Madera', 'Otro']
['Concreto', 'Lámina metálica', 'Otro', 'Asbesto cemento', 'Teja', 'Paja, palma o similar', NaN]
Categories (6, object): ['Asbesto cemento', 'Concreto', 'Lámina metálica', 'Otro',
                         'Paja, palma o similar', 'Teja']
[5.0, 'Con personas presentes', 6.0, 4.0, 'Con personas ausentes', 'De uso temporal', NaN]
Categories (6, object): [4.0, 5.0, 6.0, 'Con personas ausentes', 'Con personas presentes',
                         'De uso temporal']
[NaN, 'Ladrillo de cemento', 'Ladrillo cerámico', 'Torta de cemento', 'Tierra', 'Madera', 'Ladrillo de barro', 'Parqué', 'Otro']
Categories (8, object): ['Ladrillo cerámico', 'Ladrillo de barro', 'Ladrillo de cemento', 'Madera', 'Otro',
                         'Parqué', 'Tierra', 'Torta de cemento']
[NaN, 'Dos o más personas', 'Una persona']
Categories (2, object): ['Dos o más personas', 'Una persona']
[NaN, 'No', 'Si']
Categories (2, object): ['No', 'Si']
[NaN, '2', '3', '4', '7', '6', '5', '8', '9']
Categories (8, object): ['2', '3', '4', '5', '6', '7', '8', '9']

Of these columns, only column 'VO4' and 'IH03' appear to have values where there
should be labels.

Let's look at the dictionary for 'IH03'.

In [ ]:
viviendas_meta.variable_value_labels['IH03']

{0.0: '0',
 1.0: '1',
 2.0: '2',
 3.0: '3',
 4.0: '4',
 5.0: '5',
 6.0: '6',
 7.0: '7',
 8.0: '8',
 9.0: '9'}

Ah ha! We can see that this is working correctly although it may have been an
unexpected choice by the database developer. In fact, we can review the 
column labels to see that IH03 is the column labeled `'Cuántos grupos de 
personas preparan sus alimentos por separado', a numeric field.

We'll need to explore the source data more to understand why all of the 
labels for column 'V04' are not present. These types of issues are not
at all uncommon when working with datasets. Cleaning data is an important
and challenging step in the data lifecycle!

## Replace column names with more descriptive column names.
Finally, we'll change our column headers to be more descriptive so the dataset is human-readable. We can use `pandas` `rename` method, passing the dictionary
`column_names_to_labels` to the `columns` parameter. 

After renaming the columns, we can print out the DataFrame to confirm it worked.
Note that we need to do this after replacing the codes so that pyreadstat can
match the column names as provided when we call `set_value_labels`.

More information on this method can, of course, be found in the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html).

In [ ]:
viviendas_df = viviendas_df.rename(
    columns=viviendas_meta.column_names_to_labels
    )
viviendas_df.head()

,Departamento,Municipio,URBRUR,NUMVIV,AREA,Tipo del local de habitación,Material predominante en las paredes exteriores,Material predominante en el techo,Local de habitación esta:,Material predominante en el piso,Cuántas personas viven en el local de habitación,Estan personas preparan por separado los alimentos,Cuántos grupos de personas preparan sus alimentos por separado
0,Guatemala,Guatemala,URBANO,1.0,1.0,Casa Formal,Ladrillo,Concreto,5.0,NaN,NaN,NaN,NaN
1,Guatemala,San Raymundo,RURAL,2.0,1.0,Casa Formal,Ladrillo,Concreto,5.0,NaN,NaN,NaN,NaN
2,Guatemala,Fraijanes,URBANO,3.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN
3,Guatemala,Guatemala,URBANO,4.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN
4,Guatemala,Guatemala,URBANO,5.0,1.0,Casa Formal,Block,Concreto,5.0,NaN,NaN,NaN,NaN

## Repeat for additional datasets
If you have more than one dataset in SPSS format, you'll want to repeat the
above code for each dataset. We can do this more efficiently with a function.
Recall that we first read in the data, then used the `set_value_labels` method
to replace values with labels, and finally renamed the columns.

In [ ]:
def read_spss(sav_file):
  """returns a dataframe in human-readable format and metadata"""
  df, meta = pyreadstat.read_sav(sav_file)
  df = pyreadstat.set_value_labels(df, meta)
  df = df.rename(columns=meta.column_names_to_labels)
  
  return df, meta

However, note that we did not automate the careful cleaning we did previously.
Make sure to also explore the data after running this function.

## Save data to file
You may want to save the data file out in a non-proprietary format so we can 
access it later and share it with others. We'll use the `pandas` method 
`to_csv`. See the documentation for this method [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html).

In [ ]:
viviendas_df.to_csv('viviendas_df.csv')

After running the above code, go to the file pane in the left sidebar and click
refresh (folder with a circular arrow) to show the newly saved data. Then click
the three dots and select download to save it to your local machine. It may 
take a while, this is a big file!

You may find in fact that this file is too big for Excel or Google Sheets.
Almost certainly it will be too big to extract any meaningful insights from 
using Excel or Google Sheets. Instead, consider exploring the `pandas` package
more to analyze these data.

## Aggregate data by municipality
Let's aggregate the data  by municipality to reduce the file size and make
the data more useful for geospatial analyses.

### Simple aggregations

### Aggregate and Pivot